@page
@model Nagy_Gergo_Lab2.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.BookCategories.First().Book.Title)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Category.BookCategories.First().Book.Author.FullName)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category.BookCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author.FullName)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
